name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      mysql: mysql:8.0
      env:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: trello
        MYSQL_USER: trello
        MYSQL_PASSWORD: trello
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=30
    steps:
      - name: Checkout
        users: actions/checkout@v4
      - name: Setup PHP
        users: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: mbstring, intl, pdo_mysql
          coverage: none
      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --no-progress
      - name: Wait for mysql
        run: |
          for i in (1..30); do
           mysqladmin ping -h 127.0.0.1 -uroot -proot && break
           sleep 2
          done
      - name: Prepare test database
        env:
          APP_ENV: test
          DATABASE_URL: "mysql://trello:trello@mysql:3306/trello_test?serverVersion=8.0.32&charset=utf8mb4"
          run: |
            php bin/console doctrine:database:create --if-not-exists
            php bin/console doctrine:schema:drop --force
            php bin/console doctrine:schema:create
      - name: Run tests
        env:
          APP_ENV: test
          DATABASE_URL: "mysql://trello:trello@mysql:3306/trello_test?serverVersion=8.0.32&charset=utf8mb4"
        run: php bin/phpunit

